# Turso Database Configuration
TURSO_DATABASE_URL="libsql://projects-uz-roboticsware.aws-ap-south-1.turso.io"
TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzgxNTM1NTIsImlkIjoiMDE5ZTAyMTYtMjYwMS03MDcwLThiYmQtZTlkMGI0NDE5NzNiIiwicmlkIjoiMTkyNzRlNTYtNWUyZS00NzI2LTk4N2YtZDNlMmQzZjg3MTYxIn0.nXraASlmdj5XCAc5Ds-G8oG_pZnzkBa5h6TcHzLDE3vuD1_B_MYUatM88UFGRczhC-GZn-o48IFnxzfKtO30Cw"

# Nuxt Auth Utils (Google OAuth)
NUXT_OAUTH_GOOGLE_CLIENT_ID="21976548604-gn64vad96q8dadteu52nal41md3slit6.apps.googleusercontent.com"
NUXT_OAUTH_GOOGLE_CLIENT_SECRET="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"

# Nuxt Auth Session Password (must be at least 32 characters)
NUXT_SESSION_PASSWORD="e25f665a984eb58e3ee745ff6cab56db965fb76128ecb2bfe009869d5da60acc"
